<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">


        <h2>Carga de Archivos Planos</h2>
        <br>
        <p>
          Por favor seleccionar el archivo plano a cargar:
        </p>
    <br>
    <p>
      <input id="plano" type="file" (change)="onChange($event.target.files);">
    </p>
    <br>
    <div *ngIf="fileContent">
      <h3>File Content</h3>
      <pre>{{fileContent}}</pre>
    </div>
    <br>
    <p>
      <button (click)="cargarPlano(fileContent);">Cargar y Convertir</button>
    </p>

  </div>
</div>


<table [dataSource]="informeSismeds" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="num_registro">
    <th *matHeaderCellDef mat-header-cell> No.</th>
    <td *matCellDef="let element" mat-cell> {{element.num_registro}} </td>
  </ng-container>

  <ng-container matColumnDef="idcargaventas">
    <th *matHeaderCellDef mat-header-cell> idcargaventas</th>
    <td *matCellDef="let element" mat-cell> {{element.idcargaventas}} </td>
  </ng-container>

  <ng-container matColumnDef="nit_cliente">
    <th *matHeaderCellDef mat-header-cell> nit_cliente</th>
    <td *matCellDef="let element" mat-cell> {{element.nit_cliente}} </td>
  </ng-container>

  <ng-container matColumnDef="codigo_producto">
    <th *matHeaderCellDef mat-header-cell> codigo_producto</th>
    <td *matCellDef="let element" mat-cell> {{element.codigo_producto}} </td>
  </ng-container>

  <ng-container matColumnDef="cantidad_unidades_vendidas">
    <th *matHeaderCellDef mat-header-cell> unidades_vendidas</th>
    <td *matCellDef="let element" mat-cell> {{element.cantidad_unidades_vendidas}} </td>
  </ng-container>

  <ng-container matColumnDef="valor_unitario">
    <th *matHeaderCellDef mat-header-cell> valor_unitario</th>
    <td *matCellDef="let element" mat-cell> {{element.valor_unitario}} </td>
  </ng-container>

  <ng-container matColumnDef="numero_factura">
    <th *matHeaderCellDef mat-header-cell> Nro. factura</th>
    <td *matCellDef="let element" mat-cell> {{element.numero_factura}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_factura">
    <th *matHeaderCellDef mat-header-cell> fecha</th>
    <td *matCellDef="let element" mat-cell> {{element.fecha_factura}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_operacion">
    <th *matHeaderCellDef mat-header-cell> tipo_operacion</th>
    <td *matCellDef="let element" mat-cell> {{element.tipo_operacion}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_transaccion">
    <th *matHeaderCellDef mat-header-cell> tipo_transaccion</th>
    <td *matCellDef="let element" mat-cell> {{element.tipo_transaccion}} </td>
  </ng-container>

  <!--
    <ng-container matColumnDef="unidad_medida_facturada">
      <th mat-header-cell *matHeaderCellDef> unidad </th>
      <td mat-cell *matCellDef="let element"> {{element.unidad_medida_facturada}} </td>
    </ng-container>

    <ng-container matColumnDef="codigo_habilitacion">
      <th mat-header-cell *matHeaderCellDef> codigo_habilitacion </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo_habilitacion}} </td>
    </ng-container>

    <ng-container matColumnDef="expediente">
      <th mat-header-cell *matHeaderCellDef> expediente </th>
      <td mat-cell *matCellDef="let element"> {{element.expediente}} </td>
    </ng-container>

    <ng-container matColumnDef="consecutivo">
      <th mat-header-cell *matHeaderCellDef> consecutivo </th>
      <td mat-cell *matCellDef="let element"> {{element.consecutivo}} </td>
    </ng-container>
  -->

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<br>
<br>
